#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig SMS
	bool "SMS subscriber"
	imply AT_CMD
	imply AT_CMD_PARSER
	imply AT_NOTIF
	help
	  A library for managing SMS subscriptions.

if SMS

config SMS_MAX_SUBSCRIBERS_CNT
	int "Maximum number of subscribers"
	default 2

module=SMS
module-dep=LOG
module-str= SMS library
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # SMS
