#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig SMS
	bool "SMS subscriber"
	imply AT_CMD
	imply AT_CMD_PARSER
	imply AT_NOTIF
	help
	  A library for managing SMS subscriptions.

if SMS

config SMS_SUBSCRIBERS_MAX_CNT
	int "Maximum number of subscribers"
	default 2
	help
	  Maximum number of subscribers that can register to SMS library.

config SMS_SEND_CONCATENATED_MSG_MAX_CNT
	int "Maximum number of concatenated messages for sending"
	range 2 100
	default 2
	help
	  Maximum number of concatenated messages that the library is able to
	  compose for sending. If there would be even more data to send,
	  an error is returned.

module=SMS
module-dep=LOG
module-str= SMS library
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # SMS
